In [ ]:
from cassandra.cluster import Cluster

In [ ]:
Cluster = Cluster(['localhost'])

In [ ]:
session = Cluster.connect()

In [ ]:
session.execute("CREATE KEYSPACE stocks \
                    WITH replication = {'class' : 'SimpleStrategy', \
                                        'replication_factor' : '1'} ")

In [ ]:
session.set_keyspace('stocks')

In [ ]:
session.execute("""
                    CREATE TABLE company (
                        company_id text,
                        name_latest text,
                        name_previous text,
                        PRIMARY KEY (company_id)
                    )
                """)

In [ ]:
session.execute("""
                    CREATE TABLE indicator_by_company (
                        company_id text,
                        indicator_id text,
                        year_2010 bigint,
                        year_2011 bigint,
                        year_2012 bigint,
                        year_2013 bigint,
                        year_2014 bigint,
                        year_2015 bigint,
                        year_2016 bigint,
                        PRIMARY KEY (company_id, indicator_id)
                    )
                """)

Loading Data from Json File

In [ ]:
import json

In [ ]:
with open('companies.json') as f_in:
    companies = json.load(f_in)

In [ ]:
session.execute("""
                INSERT INTO company (company_id, name_latest, name_previous)
                VALUES (%s, %s, %s)
                """,
                ("12345", "Nicholas Finance Inc", ""))

In [ ]:
result_set = session.execute("SELECT * FROM company")

In [ ]:
for company in companies:
    try:
        session.execute("""
                INSERT INTO company (company_id, name_latest, name_previous)
                VALUES (%s, %s, %s)
                """,
                (company['company_id'], company['name_latest'], company['name_previous']))
    except:
        pass

In [ ]:
result_set = session.execute("SELECT * FROM company")

In [ ]:
result_set.current_rows