# Favorite SuperHero

## Marvel surveyed 100 students to find which superhero they like the most.The survey details can be found from data.csv file and answer the following question by considering a student is chosen as random.
## Note : Don't add cells or alter the order the cells in this order.For the probabity questions just type the answer in the cell with 2 floating point precesion.(ex:0.09) and ctrl+shift to output.Open roughwork.ipynb for rough calculation

## 1.Read the Two way table which contain the survey response into a pandas dataFrame from data.csv file

In [9]:
import pandas as pd
df = pd.read_csv('data.csv', delimiter = ',')

## 2.Display the loaded pandas dataFrame

In [10]:
df

       SuperHero  Male  Female  TOTAL
0           Thor    26      12     38
1  CaptainMarvel    12      32     44
2          Other    10       8     18
3          TOTAL    48      52    100

## 3.Find the probability that the student chose Thor as Favorite superhero?ie p(Thor)

In [21]:
student_chose_thor = df[df['SuperHero'] == 'Thor']['TOTAL'].sum()
total_students = df[df['SuperHero'] == 'TOTAL']['TOTAL'].sum()
student_chose_thor/total_students

0.38

## 4.find the probability that the student chosen is male? P(male)

In [22]:
male_student = df[df['SuperHero'] == 'TOTAL']['Male'].sum()
male_student/total_students

0.48

## 5. find the probability that the student was male given the student chose Thor as their superhero?

In [28]:
male_student_chose_thor = df[df['SuperHero'] == 'Thor']['Male'].sum()
male_student_chose_thor/student_chose_thor

0.6842105263157895

## 6.find the probability that the student chose Thor as their superhero given the student was male?

In [29]:
student_chose_thor/male_student

0.7916666666666666